// Sobreescrituras de variables de Bootstrap (antes de los imports)
// Ejemplo: $primary: #0d6efd;

// Bootstrap
@import 'bootstrap/scss/bootstrap';

:root {
  --azul: #1076B9;
  --rojo: #EC4338;
  --amarillo: #FEC52E;
  --gris: #DFE2E6;
}
